# Configuración del agente de detección de sandbox

# URL del servidor C2 donde se enviarán los datos
SERVER_URL=http://172.20.10.3:8080/content

# Habilitar modo debug (1 = activado, 0 = desactivado)
DEBUG=0

# Timeout para las peticiones HTTP (en segundos)
# TIMEOUT=30
